<div class="span3 well">
  <h4>The State of your Army</h4>
  <hr />
  <p>There are <strong><%= total_users %> agents</strong> you can draft.</p>
  <p>Currently, <strong><%= active_users %> agents</strong> are  discussing their missions.</p>
  <p>In the past day, <strong><%= daily_active_users %> agents</strong> discussed their missions.</p>
  <p>In the past week, <strong><%= weekly_active_users %> agents</strong> discussed their missions.</p>
  <p>In the past month, <strong><%= monthly_active_users %> agents</strong> discussed their missions</p>
</div>