<%= render 'shared/castle_frame' %>

<div class="offset1 span9" style="background-color:rgb(255, 255, 255); padding-bottom:20px;">
  <% if logged_in? %>

    <h2>Create a new chat room</h2>

    <%= form_tag(chat_rooms_path, method: "post") do %>
      <%= hidden_field_tag(:user_id, current_user[:id]) %> 
      <%= label_tag(:title, "Room Name:") %>
      <%= text_field_tag(:title) %>
      <%= label_tag(:privacy, "Private Campaign?") %>
      <%= check_box_tag(:privacy) %>
      <%= submit_tag("Create") %>
    <% end %>

  <% else %>
    <%= render "/shared/visitor_landing" %>
  <% end %>
</div>