<div class="row span7">
  <h2 class="page_title"><%= @chat_room.title %> <small>Campaign</small></h2>
</div>
<%= render "messages" %>
<%= render "sidebar" %>
<%= render "new_message_form" %>

<% Message.create({chat_room_id: @chat_room.id, user_name: current_user[:user_name], introduction: true}) %>

<%= render "modal_email" %>
<%= render "modal_github" %>
