<!DOCTYPE html>
<html>
<head>
  <title>Drawbridge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Conquor the Castle</a>
        <ul class = "nav">
          <li class="active">
            <%= link_to "Lobby", chat_rooms_path %>
          </li>
          <li class="">
            <a href="#">Dashboard</a>
          </li>
          <li class="">
            <%= link_to "Search", search_index_path %>
            <!-- <a href="#">Search</a> -->
          </li>
          <li>
            <a href="#">Metrics</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <% if logged_in? %>

        <%= yield %>
      <% else %>
        <%= render "/shared/visitor_landing" %>
      <% end %>
    
    </div>
  </div>

</body>
</html>
