<!DOCTYPE html>
<html>
<head>
  <title>Drawbridge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "http://fallinggarden.com:9000/faye.js", "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render "/layouts/navbar" %>
  <div class="container">
    <div class="offset1 span9" style="background-color:rgb(255, 255, 255);">
      <% if logged_in? %>
        <%= yield %>
      <% else %>
        <%= render "/shared/visitor_landing" %>
      <% end %>
    </div>
  </div>
</div>

</body>
</html>
